/Bootcamp2016.AmazingRace/Bootcamp2016.AmazingRace.Droid/obj/Debug

Bootcamp2016.AmazingRace/Bootcamp2016.AmazingRace/bin/

Bootcamp2016.AmazingRace/Bootcamp2016.AmazingRace/obj/Debug/

Bootcamp2016.AmazingRace/Bootcamp2016.AmazingRace.Droid/bin/